[Unit]
Description=MQTT Pixels
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/pi/rpi_mqtt_pixels/app.py
Restart=always

[Install]
WantedBy=default.target
